.content {
    padding: 60px 0;
}

.title {
    width: 680px;
    font-size: 40px;
    text-align: center;
    margin: 0 auto 60px;
}

.update__btn {
    margin-top: 30px;
}

/* タブレット表示 */
@media screen and (max-width: 850px) {
    .title {
        width: 60%;
        font-size: 32px;
    }
}