.content {
    display: flex;
    min-height: 100vh;
}

.session {
    color: rgb(84, 196, 159);
    font-weight: bold;
    padding: 10px 30px;
    text-align: right;
}

/* その他の取引 */
.aside {
    width: 15%;
    text-align: center;
    background-color: rgb(134, 134, 134);
}

.aside__title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 15px 0 50px;
}

.aside__item-link {
    display: block;
    background-color: rgb(238, 239, 235);
    color: #000;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 30px;
}

/* メイン（ユーザー・商品・チャット） */
.chat__wrapper {
    width: 85%;
}

.chat__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(95, 95, 95);
    padding: 15px 30px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-image__wrapper {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.user-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.chat__title {
    font-size: 28px;
}

.chat-finished__button {
    background-color: rgb(255, 130, 130);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 15px;
    cursor: pointer;
}

.chat-finished__button:hover {
    opacity: 0.7;
}

/* 商品情報 */
.item-info {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(95, 95, 95);
    padding: 15px 30px;
}

.item-image__wrapper {
    width: 180px;
    height: 180px;
    margin-right: 40px;
}

.item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item-name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

.item-price {
    font-size: 28px;
}

.yen {
    font-size: 24px;
}

/* チャット */
.chat-area {
    padding: 15px 30px;
}

.chat-content {
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.my-message {
    text-align: right;
}

.partner-message {
    text-align: left;
}

.chat__user-info,
.chat__partner-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.chat__user-info {
    justify-content: end;
}

.chat__user-image {
    width: 50px;
    height: 50px;
    margin-right: 0;
}

.chat__user-name {
    font-weight: bold;
    margin: 0 10px;
}

.message-body {
    display: inline-block;
    background-color: rgb(217, 217, 217);
    border-radius: 4px;
    padding: 10px 30px;
    margin-top: 8px;
}

.edit-delete__buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
}

.chat__edit-button,
.chat__delete-button,
.edit__cancel-button {
    font-size: 14px;
    color: rgb(95, 95, 95);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.chat__delete-button {
    border: none;
    background: none;
    margin: 0 10px 0 25px;
    cursor: pointer;
    padding: 0;
}

/* チャット編集欄 */
.chat__update-form {
    padding: 10px 0;
}

.edit__textarea {
    resize: none;
    font-size: 16px;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
}

.edit__update-button {
    border: none;
    color: #fff;
    font-weight: bold;
    background-color: #000;
    border-radius: 3px;
    padding: 3px 10px;
}

.edit__cancel-button {
    margin: 5px 10px;
}

/* チャット入力欄 */
.chat-form__wrapper {
    width: 100%;
    height: 50px;
    padding: 20px 0;
}

.chat-form {
    width: 100%;
    display: flex;
    align-items: center;
}

.chat-input {
    width: 80%;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 4px;
    padding: 10px;
}

.file-upload-btn {
    width: 100px;
    text-align: center;
    color: rgb(255, 85, 85);
    font-weight: bold;
    padding: 10px;
    border: 2px solid rgb(255, 85, 85);
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.file-upload-btn:hover {
    opacity: 0.7;
}

.file-input {
    display: none;
}

.chat-submit {
    width: 55px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.chat-submit:hover {
    opacity: 0.7;
}

.send-icon {
    width: 100%;
}

/* モーダル */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-window {
    background-color: rgb(253, 252, 230);
    border: 1px solid #000;
    border-radius: 10px;
}

.complete-message {
    font-size: 35px;
    padding: 20px;
    border-bottom: 1px solid #000;
}

.review-question {
    color: rgb(134, 134, 134);
    font-size: 20px;
    padding: 20px 0 0 20px;
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-bottom: 1px solid #000;
    padding: 20px;
}

.stars input[type='radio'] {
    display: none;
}

.stars label{
    color: rgb(217, 217, 217);
    font-size: 100px;
    padding: 0 10px;
    cursor: pointer;
}

.stars label:hover,
.stars label:hover ~ label,
.stars input[type='radio']:checked ~ label{
    color: rgb(255, 240, 72);
}

.rating__button {
    text-align: right;
    margin: 15px;
}

.rating__submit {
    color: #fff;
    font-size: 24px;
    background-color: rgb(255, 130, 130);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

/* タブレット表示 */
@media screen and (max-width: 850px) {
    .aside__title {
        font-size: 18px;
    }

    .aside__item-link {
        font-size: 15px;
        margin: 10px;
    }

    .complete-message {
        font-size: 28px;
    }

    .review-question {
        font-size: 16px;
    }

    .stars label{
        font-size: 60px;
    }
}