.content {
    padding: 40px 0;
}

.title {
    width: 680px;
    font-size: 36px;
    text-align: center;
    margin: 0 auto 30px;
}

.user-image__preview {
    width: 680px;
    display: flex;
    align-items: center;
}

.user-image__wrapper {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
}

.preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.upload-btn__wrapper {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.file__upload-btn {
    min-width: 140px;
    height: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 85, 85);
    text-align: center;
    padding: 10px 15px;
    margin-right: 10px;
    border: 2px solid rgb(255, 85, 85);
    border-radius: 5px;
    cursor: pointer;
}

.file-name {
    font-size: 14px;
}

.update__btn {
    margin-top: 20px;
}

/* タブレット表示 */
@media screen and (max-width: 850px) {
    .title {
        width: 60%;
        font-size: 32px;
    }

    .user-image__preview {
        width: 100%;
    }

    .user-image__wrapper {
        width: 100px;
        height: 100px;
    }

    .upload-btn__wrapper {
        margin-left: 30px;
    }

    .file__upload-btn {
        padding: 8px 12px;
        font-size: 16px;
    }

    .file-name {
        font-size: 12px;
    }
}