.search-form,
.header__nav {
    display: none;
}

.content {
    padding: 80px 0;
    text-align: center;
}

.session {
    text-align: left;
    padding: 20px 40px 0;
}

.text {
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 1.5;
}

.verify__btn {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    background: rgb(207, 207, 207);
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 40px;
}

.send-mail__btn {
    border: none;
    background: none;
    color: rgb(0, 115, 204);
    cursor: pointer;
    font-size: 16px;
}