/storage/app/livewire-tmp/*
!/storage/app/livewire-tmp/.gitkeep

/storage/app/public/chat-images/*
!/storage/app/public/chat-images/.gitkeep

/node_modules
/public/hot

/storage/*.key

/vendor
.env
.env.backup
.env.testing

.phpunit.result.cache

docker-compose.override.yml

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

/.idea
/.vscode
.DS_Store
Thumbs.db

*.pem
*.key
*.pub
id_rsa
id_rsa.*